{% extends "base.html.twig" %}

{% block title %}
    Présentation
{% endblock %}

{% block body %}
    <main class="container">
        
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Qui sommes-nous ?
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Accueil</a>
            </li>
            <li class="breadcrumb-item active">Présentation de l'USCAEP</li>
        </ol>


        <div class="row">
            
            <div class="col-md-6">
                <img src="/img/logo.png" class="img-thumbnail" alt="Logo de l'USCAEP">
            </div>

            <div class="col-md-6">
                <h2>Historique</h2>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
            </div>

            <div class="col-md-6">
                <h2>Présentation</h2>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
            </div>

            <div class="col-md-6">
                <h2>Buts</h2>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
            </div>

            <div class="col-md-6">
                <h2>Objets</h2>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
            </div>

            <div class="col-md-6">
                <h2>Objectfs</h2>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
                <p>
                    Qui nisi aliquip commodo labore sint dolor nulla reprehenderit. 
                    Ut commodo do laboris dolor in est ipsum aute in ut esse duis.
                     Id ut ea cupidatat sint. Reprehenderit elit aute voluptate do cillum et mollit eu elit.
                      Incididunt voluptate voluptate officia anim nulla minim duis culpa tempor tempor qui minim ad. 
                      Do commodo culpa amet et veniam sit ex minim qui.
                </p>
            </div>

        </div>

        <!-- Team Members -->
        <h2>Notre équipe</h2>

        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body">
                    <h4 class="card-title">Team Member</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body">
                    <h4 class="card-title">Team Member</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body">
                    <h4 class="card-title">Team Member</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Our Customers -->
        <h2>Clients & Partenaires</h2>
        <div class="row">
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-lg-2 col-sm-4 mb-4">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </div>
        </div>
        <!-- /.row -->


    </main>
{% endblock %}